body{
    overflow-x: hidden; 
    color: #2B2D42;
}

#navbar {
    font-family: 'Zen Dots';
    display: flex;
    font-size: 25px;
    padding-top: 20px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 50px;
    border-color: #a9aab8; 
    border-style: solid;
    color: #ffffff;
    background-color: #000000;
    width: 105%;
    position: absolute;
    left: 0px;
    top: 0px;
    
}

#logo{
    position: absolute;
    left: 3%;
    border: 0px solid white;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

#aboutMe{
    position: absolute;
    left: 10%;
    overflow-x: hidden;
    border: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    padding-left: 45px;
}

#projects{
    left: 22%;
    position: absolute;
    overflow-x: hidden;
    border: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    padding-left: 45px;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Finlandica Text';
    position: absolute;
    top: 15%;
    color: rgb(84, 100, 100);
    left: 50%;
    transform:translate(-50%);
}

h1{
    font-size: 45px;
    color: black;
}

#bodyText{
    position:fixed;
    top: 100px;
    width: 450px;
}

#notice{
    position: absolute;
    font-family: 'Finlandica Text';
    font-size: 12.5px;
    color: rgb(84, 100, 100);
    opacity: 50%;
    bottom: 1%;
    right: 1%;
}

a{
    text-decoration: none; /* https://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks */
}

a:link{
    color: #ffffff;
}

a:hover{
    color: #ffffff;
}

a:visited{
    color: #ffffff;
}

a:active{
    color: #ffffff;
}


img{
    position: absolute;
    top: 55%;
    left: 50%;
    transform:translate(-50%);
}

#logo:hover{
    animation: Hover .25s;
    
}

@keyframes Hover{
    100%{
        color: rgb(230, 230, 230);       
    }
}
